braceexpand==0.1.7
editdistance==0.6.0
fastcluster==1.2.6
h5py==3.7.0
hydra-core==1.2.0
inflect==5.6.0
intervaltree==3.1.0
ipython==8.4.0
ipykernel==6.15.0
jsonlines==3.1.0
kaldi-io==0.9.4
nemo-toolkit==1.8.2
numexpr==2.8.3
numpy==1.23.3
omegaconf==2.2.1
onnx==1.14.0
onnxruntime==1.11.1
pandas==1.4.2
pyannote.core==4.4
pyannote.database==5.0.1
pyannote.metrics==3.2
pytest==7.3.1
pytorch-lightning==1.6.3
sentencepiece==0.1.95
scikit-learn==1.1.2
scipy==1.9.1
soundfile==0.12.1
tabulate==0.8.10
torch-stft==0.1.4
torch==1.12.1
torchmetrics==0.11.4
transformers==4.19.2
webdataset==0.1.62
youtokentome==1.0.6
